/* === Load Ubuntu Fonts === */
@font-face {
  font-family: "Ubuntu";
  src: url("/src/assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/src/assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/src/assets/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@import "tailwindcss";

@theme {
  /* === Breakpoints === */
  --breakpoint-sm: 23.4375rem; /* 375px */
  --breakpoint-xl: 90rem; /* 1440px */

  /* === Colors === */

  /* Primary */
  --color-marine-blue: hsl(213 96% 18%);
  --color-purplish-blue: hsl(243 100% 62%);
  --color-pastel-blue: hsl(228 100% 84%);
  --color-light-blue: hsl(206 94% 87%);
  --color-strawberry-red: hsl(354 84% 57%);

  /* Neutral */
  --color-cool-gray: hsl(231 11% 63%);
  --color-light-gray: hsl(229 24% 87%);
  --color-magnolia: hsl(217 100% 97%);
  --color-alabaster: hsl(231 100% 99%);
  --color-white: hsl(0 0% 100%);

  /* Typography */
  --font-ubuntu: "Ubuntu", sans-serif;
  --text-body: 1rem; /* 16px */

  /* Font Weights */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
